
<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='edit_form'>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_area :email %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>



<% end %>
